<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>


<% @movies.each do |movie| %>
  <h2><%= movie.watched == true ? "[x]" : "[ ]" %> <%= link_to movie.name, movie_path(movie) %></h2>
  – <%= movie.genre %>
<% end %>
